#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	/dh_install
	mv debian/roundcubemail-plugin-dovecot-impersonate/etc/roundcubemail/config.inc.php.dist debian/roundcubemail-plugin-dovecot-impersonate/etc/roundcubemail/dovecot-impersonate.inc.php
